body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

label:before {
  content: "\a";
  white-space: pre;
}

.container {
  display: table;
  width: 100%;
  margin: 10px;
}

#select-lookahead {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  display: "block";
}

#filename {
  margin-left: 10px;
}

#plot {
  display: table-cell;
  width: 75%;
  margin: 0;
  max-width: 750px;
}

#select-year {
  display: table-cell;
  vertical-align: middle;
  width: 5%;
  margin-right: 40px;
  display: "block";
}
